@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Buhid&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

.main {
  margin: 3em auto;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

h1 {
  color: #7fb069;
  font-weight: 700;
  margin-top: 1em;
}

nav {
  margin-top: 1em;
  padding: 10px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  margin-right: 1.3em;
}

nav ul li a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #909029;
}

nav ul li i {
  color: #909029;
  font-size: 2em;
}

.card {
  margin: auto 2em;
  width: 12em;
  padding: 0.7em;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #eceaea;
}

.card-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-body {
  padding: 10px;
}

.card-title {
  padding: 10px;
  text-align: center;
}

.card-title h2 {
  color: #7fb069;
  font-size: 1.8em;
}

.card-content {
  padding: 10px;
}

.card-content p {
  color: grey;
  text-align: center;
}

.title {
  text-align: center;
}

.title p {
  color: #828282;
  font-size: 1.2em;
}

.container {
  margin: 0 auto;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .drible {
  border: 1px solid black;
  -webkit-box-shadow: 10px 20px rgba(0, 0, 0, 0.258);
          box-shadow: 10px 20px rgba(0, 0, 0, 0.258);
  width: 20em;
  padding: 1em;
  border-radius: 8px;
  margin-right: 3em;
}

.container .drible-logo {
  padding: 10px;
}

.container .drible-logo i {
  font-size: 2em;
  color: #909029;
}

.container .drible-title {
  padding: 10px;
  text-align: center;
}

.container .drible-title p {
  font-size: 1.4em;
  font-weight: 700;
}

.container .drible-body {
  padding: 10px;
}

.container .drible-body p {
  color: #8e8989;
}

.container .drible-link {
  padding: 10px;
  margin-top: 0.3 em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .drible-link a {
  background-color: #80ae36;
  padding: 0.6em 1em;
  border-radius: 8px;
  color: white;
  font-weight: 700;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.container .drible-link a:hover {
  background-color: #536c2a;
  color: white;
}
