@import "./links";

$padding: 10px;
$yellow: rgb(144, 144, 41);

$color: (
  "primary": #7fb069,
  "secondary": #d36135,
);

$font-weight: (
  "regular": 400,
  "semibold": 600,
  "bold": 700,
);

$font-family: (
  "primary": "Roboto, sans-serif",
  "secondary": "Noto Sans Buhid, sans-serif",
);
