@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Buhid&display=swap");

$color: (
  "primary": #7fb069,
  "secondary": #d36135,
);

$font-weight: (
  "regular": 400,
  "semibold": 600,
  "bold": 700,
);

$font-family: (
  "primary": "Roboto, sans-serif",
  "secondary": "Noto Sans Buhid, sans-serif",
);
